@import './base.css';

#h2-details {
  display: none;
}

.main-info-buy > * {
  margin: 2rem 0;
}

#main-info-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#description {
  font-size: 1.2rem;
}